/** @format */
:root {
  --branding-color: #326729;
  --secondary-color: #c1cfbc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: #c1cfbc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px, 20;
  margin-top: 176px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2px;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
