/** @format */
:root {
  --branding-color: #326729;
  --secondary-color: #c1cfbc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: #c1cfbc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 76px;
  line-height: 1.5;
}

h2 {
  font-size: 34px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px 20px;
  margin-top: 176px;
  height: 70vh;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5px;
  font-size: 19px;
}

.about {
  padding: 100px 20px;
}
.about h1 {
  font-size: 60px;
  line-height: 80px;
}

.about h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-content {
  margin: 50px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-branding-outline:hover {
  background-color: #326729;
  border-color: #c1cfbc;
  transition: ease-in-out;
}

.btn-branding:hover {
  background-color: #c1cfbc;
  border-color: #326729;
  transition: ease-in-out;
}
.project-description {
  padding: 120px 60px;
}
.img {
  width: 400px;
}

.sophia {
  width: 400px;
}

.se {
  max-height: 40px;
}

nav {
  padding: 20px 0;
  margin-right: 30px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #1b1b1b;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.contact-container {
  text-align: center;
}

.contact h1 {
  font-size: 64px;
  line-height: 80px;
}

.contact h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.contact p {
  font-size: 14px;
}

.contact {
  margin: 30px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: #ebf1ea;
  padding: 30px 120px;
  border-radius: 10px;
  width: 70%;
  margin: 10px auto;
}

footer .contact-box h4 {
  margin-left: 30px;
}

footer .contact-box p {
  margin: 0;
}
footer .contact-btn {
  margin: 0;
}

footer .e-mail-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .e-mail-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.work {
  width: 70%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }

  h4 {
    font-size: 26px;
  }

  .btn {
    font-size: 18px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 40px;
    height: 70%;
  }

  .hero h2 {
    font-size: 16px;
    line-height: 2;
  }
  .about-content {
    text-align: center;
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .about h1 {
    font-size: 36px;
    line-height: 1.5;
  }

  .col-lg-6 img.sophia {
    display: block;
    margin: 20px auto;
    width: 300px;
  }

  nav a {
    font-size: 14px;
  }
}
