/** @format */
:root {
  --branding-color: #326729;
  --secondary-color: #c1cfbc;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: #c1cfbc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 76px;
  line-height: 1.5;
}

h2 {
  font-size: 34px;
}

p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 50px 20px;
  margin-top: 176px;
  height: 70vh;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5px;
  font-size: 19px;
}

.about {
  padding: 100px 20px;
}
.about h1 {
  font-size: 60px;
  line-height: 80px;
}

.about h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-content {
  margin: 50px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 24px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 24px;
}

.project-description {
  padding: 120px 60px;
}
.img {
  width: 400px;
}

.sophia {
  width: 400px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
    height: 70%;
  }
  .about-content {
    text-align: center;
    padding: 0;
  }

  .about {
    padding: 0;
  }

  .about h1 {
    font-size: 36px;
    line-height: 1.5;
  }

  .sophia {
    margin-left: 40px;
  }
}
